* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  text-align: center;
  width: 95%;
  background: #ff9748;
  background: #8e54e9;
  background: linear-gradient(244deg, #8e54e9 0%, #4776e6 100%);
  padding: 5px 5px 26px;
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.51);
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4.5px #ddd;
}

h1,
h2 {
  margin: 0.5rem 0.25rem;
}