@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");
* {
	font-family: "Ubuntu", sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}
body {
	max-height: 700px;
	/* overflow: hidden; */
}
.App {
	font-family: sans-serif;
	text-align: center;
}
.card {
	background-color: red;
	/* margin-top: 5px; */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 597px;
}
button {
	float: right;
	/* margin-right: 30px; */
	border: none;
}
.spc {
	/* margin-right: 30px; */
	color: black;
	text-decoration: none;
	/* background-color: transparent; */
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
.spc:hover {
	background-color: #f3efe0;
	/* font-weight: 600; */
}
.nav {
	background-color: #3399ff;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
}
.mrgn {
	margin-left: 150px;
}
.bnn {
	/* margin-right: 30px; */
	cursor: pointer;
	color: black;
	text-decoration: none;
	background-color: rgb(217, 254, 255);
	border: 3px solid rgba(83, 83, 83, 0);
	border-radius: 5px;
	height: 80%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	opacity: 0.7;
	font-size: 18px;
}
.bnn:hover {
	/* background-color: rgb(90, 90, 90);
	border: 3px solid rgb(0, 0, 0);
	border-radius: 5px;
	color: white; */
	opacity: 1;
}
.mrgn2 {
	margin-left: 70px;
	margin-right: 40px;
}
