* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  height: auto;
  border:  20px solid rgb(63, 63, 63);
}
