@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akaya+Kanadaka&family=Bree+Serif&family=DM+Mono:wght@300&family=Fira+Sans&family=Indie+Flower&family=Kanit:wght@200&family=Merriweather:wght@300&family=Roboto+Condensed:wght@300&display=swap');
body {
    margin: 0;
    min-width: 250px;
  }

  
  ul {
    margin: 0;
    padding: 0;
  }
  h2{
    font-family: 'Akaya Kanadaka', cursive;
  }

  
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    font-family: 'Akaya Kanadaka', cursive;
  }

  ul li:nth-child(odd) {
    background: #d5d5d5;
  }

  ul li:hover {
    background: #ddd;
  }

  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  .header {
    background-color: #0096fa;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 60%;
    padding: 10px;
    float: left;
    font-size: 16px;
    outline: none;
    font-family: 'Akaya Kanadaka', cursive;

  }
  input:focus
  {
      border: 1px solid black;
  }

  .addBtn {
    padding: 10px;
    height: 20px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }

  .addBtn:hover {
    background-color: #bbb;
  }